<center>
    
# Day 1
</center>



## Introduction to Jupyter Notebook

The idea is to get acquainted with the basics of python and jupyter notebook

## Numbered List

1. Aisha
2. Maryam
3. Zainab

## Bulleted List

- Orange
- Apple
- Mango

In [2]:
# Write a code cell that prints "Hello, World!" and execute the cell
"Hello World!"

'Hello World!'

#### Use a markdown cell to add an image or a hyperlink to a website of your choic
![Python Logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)

![Scene](https://th.bing.com/th/id/OIP.JFzKF2TvH6_Lle3-eyqOigHaEp?w=3360&h=2108&rs=1&pid=ImgDetMain)

In [5]:
# Create a notebook cell to perform addition and subtraction of two numbers.
## Addition
3 + 5

8

In [82]:
## Subtraction
8 - 6

2

In [81]:
# Use the help() function in a cell to get documentation for the print() function.
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

- Create a cell with multiple lines of comments explaining your code.

In [83]:
# Firstly, I created a markdown to explain what this task is about
# Then I created a numbered and bulleted list
# Next, I ran a simple python code "Hello World!"
# Next, I added an online image
# I then performed an addition and subtraction operation
# I also tried saving the notebook in html format, through 'file' in the top left hand corner
# Then I attempted using the help function to get more info about the sum function

In [84]:
# Use magic commands (%time, %who) in a cell to measure execution time or list variables.
# %time: Measures the execution time of a single line of code.
%time sum(range(5))
# from the output, the code ran in 10 seconds

CPU times: total: 0 ns
Wall time: 0 ns

10

In [85]:
%time print('Hello')

Hello
CPU times: total: 0 ns
Wall time: 0 ns

In [86]:
# Additionally, you can use %timeit for more accurate timing (it runs the code multiple times to get a better measurement):

%timeit sum(range(5))

544 ns ± 86.5 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [87]:
# %who: Lists all the variables in the current namespace.

x = 5
y = 10
z = 11
%who

# This will list x and y and z, as they are defined in the current environment.

a	 b	 c	 col_set	 dict_1	 dict_2	 dict_3	 diff	 foods
fruits	 is_subset	 is_superset	 key	 lang	 lang_dict	 list_1	 list_set	 list_tuple
my_dict	 my_list	 my_tuple	 num_tuple	 numbers	 set1	 set2	 set3	 set4
set5	 set7	 set_1	 set_2	 sliced_lang	 squared_dict	 squares	 x	 y
z

- Create a simple table in a markdown cell to display your name, age, and profession.


| Name        | Age | Profession      |
|-------------|-----|-----------------|
| John Doe    | 21  | Software Engineer|

## Data Types in Python

1. Identify the data type of the following values in Python:
- 42
- 3.14
- "Python"
- [1, 2, 3]
- { "name": "John", "age": 30 }

In [88]:
print(type(42))
print(type(3.14))
print(type("Python"))
print(type([1, 2, 3]))
print(type({ "name": "John", "age": 30 }))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [5]:
# Convert an integer (e.g., 42) to a float and a string
print(float(42))
str(42)

42.0

'42'

In [7]:
# Create a list of your five favorite fruits and print its data type
fav_fruits = ['Pineapple', 'Orange', 'Apple', 'Mango', 'Banana']
print(type(fav_fruits))

<class 'list'>

In [90]:
# Write a program to check if a variable is of type str.
var1 = "Hello friend"
isinstance(var1, str)

True

In [95]:
# Create a dictionary with three key-value pairs and retrieve the value of a specific key.
dictt = {"name":"Anna Wills", "track":"Data Analytics", "level":2}
dictt["track"]

'Data Analytics'

In [10]:
# Create a tuple with three different data types and access the second element
my_tuple = ([20, 23, 33], 'Hello', {"name" : "Aisha", "Expertise" : "Data Analyst"})
my_tuple[1]

'Hello'

In [96]:
# Use the type() function to verify the data type of variables
type(var1)

str

In [98]:
# Write a script to perform typecasting of a float to an integer and observe the changes
float1 = 3.67
int_1 = int(float1)
print(int_1)

3

In [100]:
# Create a program that checks whether an input is a number or a string

user_input = input("Enter something: ")

# Check if the input is a number or a string
try:
    # Try converting the input to a float (covers both integers and decimals)
    float_input = float(user_input)
    print("The input is a number.")
except ValueError:
    # If conversion fails, it's a string
    print("The input is a string.")

Enter something: 3
The input is a number.

In [102]:
# Write a program to calculate the length of a list, tuple, and dictionary
# Define a list, tuple, and dictionary
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Anna", "age": 25, "city": "New York"}

# Calculate and print the length of each
list_length = len(my_list)
tuple_length = len(my_tuple)
dict_length = len(my_dict)

print(f"Length of list: {list_length}")
print(f"Length of tuple: {tuple_length}")
print(f"Length of dictionary: {dict_length}")

Length of list: 5
Length of tuple: 3
Length of dictionary: 3

## Expressions and Variables

In [1]:
# Assign values to three variables (x, y, z) and calculate their sum
x = 7
y = 40
z =  32

#Sum variables
x + y + z

79

In [5]:
# Write a program to swap the values of two variables
x, y, z = y, z, x

print(x)
print(y)
print(z)

32
7
40

In [6]:
# Assign a string to a variable and concatenate it with another string.
fruit = 'Apple'
print("My best fruit is " + fruit)

My best fruit is Apple

In [8]:
# Use compound assignment operators (+=, *=, etc.) with variables to perform operations.
a = 10
b = 5
c = 12
d = 16
e = 15

a += b  # a = a + b
print("a = ", a)

b *= 2  # b = b * 2
print("b = ", b)

c -= 10  # c = c - 10
print("c = ", c)

d /= 3  # d = d / 3
print("d = ", d)

e %= 4  # e = e % 4
print("e = ", e)

a =  15
b =  10
c =  2
d =  5.333333333333333
e =  3

In [9]:
# Write an expression that calculates the area of a circle given the radius stored in a variable.

pi = 3.142
r = 5
Area = pi * r**2
print("Area of the circle is", Area)

# Area of circle using math package
import math

# Calculate the area
area = math.pi * r**2

# Print the area
print("The area of the circle is:", area)

Area of the circle is 78.55
The area of the circle is: 78.53981633974483

In [13]:
# Use variables to store values for a quadratic equation and compute its roots

import math

# Coefficients of the quadratic equation
a = 1  # Example value for a
b = -3  # Example value for b
c = 2  # Example value for c

# Calculate the discriminant
discriminant = b**2 - 4*a*c

# Compute the roots based on the discriminant
if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2 * a)
    root2 = (-b - math.sqrt(discriminant)) / (2 * a)
    print("The roots are real and distinct:")
    print(f"Root 1: {root1}")
    print(f"Root 2: {root2}")
elif discriminant == 0:
    root = -b / (2 * a)
    print("The roots are real and equal:")
    print(f"Root: {root}")
else:
    real_part = -b / (2 * a)
    imaginary_part = math.sqrt(-discriminant) / (2 * a)
    print("The roots are complex:")
    print(f"Root 1: {real_part} + {imaginary_part}i")
    print(f"Root 2: {real_part} - {imaginary_part}i")

The roots are real and distinct:
Root 1: 2.0
Root 2: 1.0

### How It Works

- Input: Values for a, b and c are predefined (you can replace them with user input if desired).

- Discriminant Calculation: The discriminant b^2 - 4ac determines the nature of the roots. 
  - - Positive: Two distinct real roots.
  - - Zero: One real root (double root).
  - - Negative: Two complex roots.

- Root Calculation:
  - - Real roots are calculated directly using the quadratic formula.
  - - Complex roots are expressed as a combination of real and imaginary parts.

In [10]:
# Assign a value to a variable and print its memory location using the id() function.

x = 42

# Print the value and its memory location
# A memory location is the specific address in a computer's memory where a variable's value is stored.
print("Memory location of x:", id(x))

Memory location of x: 140736976427080

In [11]:
# Create a variable to store a person's name and use it in a print statement with a greeting.

# Using f string
first_name = 'Fatima'
print(f"Good morning {first_name}, how are you doing today?")

# Using string concatenation
name = "John"  
print("Good morning " + name + ", how are you doing today?")

# Using % formatting
first_name = "John"
print("Good morning %s, how are you doing today?" % first_name)

Good morning Fatima, how are you doing today?
Good morning John, how are you doing today?
Good morning John, how are you doing today?

In [12]:
# Use an expression with both arithmetic and logical operators, and assign the result to a variable.
a = 10
b = 5
c = 3

# Expression using both arithmetic and logical operators
result = (a + b > c) and (b * c < a)

# Print the result
print("The result of the expression is:", result)

The result of the expression is: False

#### Using and (both conditions must be true):
- True and True → True
- True and False → False
- False and True → False
- False and False → False

#### Using or (at least one condition must be true):
-True or True → True
- True or False → True
- False or True → True
- False or False → False

#### Using not (negates the value):
- not True → False
- not False → True

In [14]:
# Write a program to solve (a + b)^2 using variables a and b

a = 3  # Example value for a
b = 4  # Example value for b

result = (a + b)**2

# Display the result
print(f"The value of ({a} + {b})^2 is: {result}")

# Expanded form for verification
expanded = a**2 + 2*a*b + b**2
print(f"Verification using expanded form: {expanded}")

The value of (3 + 4)^2 is: 49
Verification using expanded form: 49

### String Operations

In [15]:
# Write a Python program to concatenate two strings using the + operator.
print("Hello" + " Friend")

Hello Friend

In [26]:
# Find the length of a given string using the len() function
name = "Maryam"
len(name)

6

In [27]:
# Extract the first five characters of a string using slicing.
country = "Namibia"
country[:6]

'Namibi'

In [30]:
# Convert a string to uppercase and lowercase using string methods.
print(country.upper())
print(country.lower())

NAMIBIA
namibia

In [16]:
# Write a script to replace all occurrences of a word in a string with another word.
welcome = "Hello, students, welcome to day 1 of your biology class. Biology is an interesting field. Learning biology is fun"
welcome.replace('biology','chemistry')

'Hello, students, welcome to day 1 of your chemistry class. Biology is an interesting field. Learning chemistry is fun'

In [17]:
# Check if a given substring exists in a string using the in operator.
"Hello" in welcome

True

In [18]:
# Reverse a string using slicing and print the result
pet_name = "parrot"
rev_pet_name = pet_name[::-1]
print(rev_pet_name)

torrap

In [20]:
# Split a string into a list of words and join it back into a single string.
Greeting = "Good morning sir"

# splitting
split_str = Greeting.split()
print(split_str)

# Joining
join_str = " ".join(split_str)
print(join_str)

['Good', 'morning', 'sir']
Good morning sir

In [22]:
# Count the number of occurrences of a specific character in a string.
word = "Committee"
word.count("m")

2

In [26]:
# Write a program that formats a string using f-strings or the .format() method

#f-string
first_name = "Asad"
heading1 = f"Hello {first_name}, have you submitted your task?"
print(heading1)

# .format()
heading2 = "Hello {}, have you submitted your task?".format(first_name)
print(heading2)

Hello Asad, have you submitted your task?
Hello Asad, have you submitted your task?

<center>
    
## Day 2
    
</center>

### Exercise 1

In [38]:
# Write a program to concatenate "Hello" and "Python" with a space between them
"Hello" + " World"

'Hello World'

In [39]:
# Calculate and print the length of "Learn to code in Python!"
print(len("Learn to code in Python!"))

24

In [40]:
# From the string "Python Programming", extract the substring "Program"
text = "Python Programming"

# Extract the substring "Program"
substring = text[7:14]

print(substring)

Program

In [41]:
# Convert "Python Rocks!" to uppercase, lowercase, and title case.
a = "Python Rocks!"
print(a.upper())
print(a.lower())
print(a.title())

PYTHON ROCKS!
python rocks!
Python Rocks!

In [42]:
# Replace "bad" with "good" in the string "Python is not bad".
statement = "Python is not bad"
statement.replace("bad", "good")

'Python is not good'

In [44]:
# Check if "code" exists in "Coding is fun with Python"
"code" in "Coding is fun with Python"

False

In [52]:
# Reverse "Python" and print it.
x = "Python"
print(x[::-1])

nohtyP

In [55]:
# Split "Learn Python the easy way" into a list of words, then join it back into a single string separated by hyphens (-).
y = "Learn Python the easy way"

# Split into a list of words
word_list = y.split()

# Join the list back into a single string with hyphens
hyphenated_string = '-'.join(word_list)

print(word_list)
print(hyphenated_string)

['Learn', 'Python', 'the', 'easy', 'way']
Learn-Python-the-easy-way

In [57]:
# Count how many times the letter 'a' appears in "banana apple avocado"
text = "banana apple avocado"

# Count occurrences of 'a'
count_a = text.count('a')

print(count_a)

6

In [60]:
# Use f-strings to format and print "I scored 95 in Python, which is awesome!"
note = "I scored 95 in Python, which is awesome!"
print(f"{note}")

I scored 95 in Python, which is awesome!

### Exercise 2

In [1]:
# Create a list of five fruits: ["apple", "banana", "cherry", "date", "elderberry"]. Print the first and last items
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[0], fruits[-1])

apple elderberry

In [3]:
#  Modify List: Add "fig" to the list above, remove "cherry", and replace "banana" with "blueberry"
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Add "fig" to the list
fruits.append("fig",)

# Remove "cherry" from the list
fruits.remove("cherry")

# Replace "banana" with "blueberry"
fruits[fruits.index("banana")] = "blueberry"

print(fruits)

# list.append() takes exactly one argument

['apple', 'blueberry', 'date', 'elderberry', 'fig']

In [4]:
# Sort the list in ascending order
fruits.sort()

# Reverse the sorted list
fruits.reverse()

# Display the sorted and reversed list
print("Sorted and reversed list:", fruits)

Sorted and reversed list: ['fig', 'elderberry', 'date', 'blueberry', 'apple']

In [10]:
# Slice List: From the list ["Python", "Java", "C++", "Ruby", "Go"], extract the first three languages.
lang = ["Python", "Java", "C++", "Ruby", "Go"]
sliced_lang = lang[:3]
print(sliced_lang)

['Python', 'Java', 'C++']

In [11]:
# Sum of List: Create a list of numbers [10, 20, 30, 40, 50] and calculate their sum.
numbers = [10, 20, 30, 40, 50]
sum(numbers)

150

In [12]:
# Tuple Creation: Create a tuple of five numbers and print the maximum and minimum values.
my_tuple = (1, 3, 5, 7, 9)
print(max(my_tuple))
print(min(my_tuple))

9
1

In [14]:
# Convert List to Tuple: Convert the list ["red", "green", "blue"] into a tuple.
my_list = ["red", "green", "blue"]
list_tuple = tuple(my_list)
print(list_tuple)

('red', 'green', 'blue')

In [15]:
# Unpack Tuple: Unpack the tuple (1, 2, 3) into three variables and print them.
num_tuple = (1, 2, 3)

# Unpack the tuple into three variables
a, b, c = num_tuple

# Print the variables
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [16]:
# List Comprehension: Create a new list with the squares of numbers from 1 to 10.
# Create a list with the squares of numbers from 1 to 10
squares = [x**2 for x in range(1, 11)]

# Print the resulting list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
# Find Index: Find the index of "C++" in the list ["Python", "Java", "C++", "Ruby", "Go"].
print(lang)
print(lang.index("C++"))

['Python', 'Java', 'C++', 'Ruby', 'Go']
2

### Exercise 3

In [21]:
#Create Dictionary: Create a dictionary with three key-value pairs: {"name": "Alice", "age": 25, "city": "New York"}.
my_dict = {"name": "Amina", "age": 23, "city": "Los Angeles"}

In [22]:
# Access Value: Access and print the value of "city" in the dictionary above
print(my_dict["city"])

Los Angeles

In [34]:
# Update Value: Update the "age" to 30 and print the dictionary.
my_dict["age"] = 30
print(my_dict)

{'name': 'Amina', 'age': 30, 'country': 'USA', 'city': 'Los Angeles'}

In [26]:
# Add Key-Value Pair: Add a new key "country" with the value "USA" to the dictionary.
my_dict["country"] = "USA"
print(my_dict)

{'name': 'Amina', 'age': 30, 'city': 'Los Angeles', 'country': 'USA'}

In [35]:
# Delete Key: Remove the "city" key from the dictionary and print the result.
del my_dict["city"]
print(my_dict)

{'name': 'Amina', 'age': 30, 'country': 'USA'}

In [33]:
print(my_dict)

{'name': 'Amina', 'age': 30, 'country': 'USA'}

In [36]:
# Check Key Existence: Check if the key "name" exists in the dictionary.
"name" in my_dict

True

In [40]:
# Iterate Dictionary: Iterate over the dictionary and print each key and its value.
for key in my_dict:
    print(f"Key: {key}, Value: {my_dict[key]}")

Key: name, Value: Amina
Key: age, Value: 30
Key: country, Value: USA

In [47]:
# Merge Dictionaries: Merge {"x": 1, "y": 2} with {"y": 3, "z": 4} and print the result
# Method 1
dict_1 = {"x": 1, "y": 2}
dict_2 = {"y": 3, "z": 4}

dict_1.update(dict_2)
print(dict_1)

{'x': 1, 'y': 3, 'z': 4}

In [49]:
# Method 2
dict_1 = {"x": 1, "y": 2}
dict_2 = {"y": 3, "z": 4}

dict_3 = dict_1 | dict_2 
print(dict_3)

{'x': 1, 'y': 3, 'z': 4}

In [50]:
# Method 3 
dict_1 = {"x": 1, "y": 2}
dict_2 = {"y": 3, "z": 4}

dict_3 = {**dict_1, **dict_2}  
print(dict_3)

{'x': 1, 'y': 3, 'z': 4}

In [53]:
# Dictionary Keys and Values: Print all the keys and values from the dictionary {"Python": 1991, "Java": 1995, "C++": 1985}
lang_dict = {"Python": 1991, "Java": 1995, "C++": 1985}
print(lang_dict.keys())
print(lang_dict.values())

dict_keys(['Python', 'Java', 'C++'])
dict_values([1991, 1995, 1985])

In [54]:
# Dictionary Comprehension: Create a dictionary where keys are numbers from 1 to 5 and values are their squares
squared_dict = {x: x**2 for x in range(1, 6)}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 4

In [66]:
# Create and Print Set: Create a set of three colors: {"red", "green", "blue"}. Print the set.
col_set = {"Pink", "Green", "Brown"}
print(col_set)

{'Brown', 'Green', 'Pink'}

In [67]:
# Add Element: Add "yellow" to the set and print the result.
col_set.add("Yellow")
print(col_set)

{'Brown', 'Green', 'Pink', 'Yellow'}

In [68]:
# Remove Element: Remove "green" from the set
col_set.remove("Green")
print(col_set)

{'Brown', 'Pink', 'Yellow'}

In [69]:
# Check Membership: Check if "blue" exists in the set.
"blue" in col_set

False

In [71]:
# Union of Sets: Find the union of {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [73]:
# Intersection of Sets: Find the intersection of {1, 2, 3} and {3, 4, 5}.
set4 = set1.intersection(set2)
print(set4)

{3}

In [76]:
# Difference of Sets: Find the difference between {1, 2, 3} and {3, 4, 5}
# Method 1
set5 = set2 - set1
print(set5)

# Method 2
diff = set1.difference(set2)
print(diff)

{4, 5}
{1, 2}

In [77]:
# Set Length: Find the length of the set {1, 2, 3, 4, 5}.
set7 = {1, 2, 3, 4, 5}
len(set7)

5

In [79]:
# Set Operations: Check if {1, 2} is a subset of {1, 2, 3, 4} and {1, 2, 3, 4} is a superset of {1, 2}
set_1 = {1, 2}
set_2 = {1, 2, 3, 4}

# Check if set_1 is a subset of set_2
is_subset = set_1.issubset(set_2)

# Check if set2 is a superset of set1
is_superset = set_2.issuperset(set_1)

# Print the results
print(is_subset)
print(is_superset)

True
True

In [80]:
# Convert List to Set: Convert the list [1, 2, 2, 3, 4, 4] into a set to remove duplicates and print the set.
list_1 = [1, 2, 2, 3, 4, 4]
list_set = set(list_1)
print(list_set)

{1, 2, 3, 4}